<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Просмотр профиля</title>
</head>
<body>

<div layout:fragment="content" class="container my-4">
    <h3 class="text-center my-4">Просмотр профиля</h3>

    <form class="row g-3">
        <div class="col-md-4">
            <label for="lastNameInput" class="form-label">Фамилия:</label>
            <input th:value="${user.lastName}" type="text" class="form-control-plaintext" id="lastNameInput" placeholder="Last Name"
                       minlength="1" maxlength="30" pattern="^[a-zA-Zа-яА-ЯёЁ]+$" readonly>
        </div>

        <div class="col-md-4">
            <label for="firstNameInput" class="form-label">Имя:</label>
            <input th:value="${user.firstName}" type="text" class="form-control-plaintext" id="firstNameInput" placeholder="First Name"
                       minlength="1" maxlength="30" pattern="^[a-zA-Zа-яА-ЯёЁ]+$" readonly>
        </div>

        <div class="col-md-4">
            <label for="middleNameInput" class="form-label">Отчество:</label>
            <input th:value="${user.middleName}" type="text" class="form-control-plaintext" id="middleNameInput" placeholder="Middle Name"
                       minlength="1" maxlength="30" pattern="^[a-zA-Zа-яА-ЯёЁ]+$" readonly>
        </div>

        <div class="col-md-12">
            <label for="exampleInputType" class="form-label">Тип пользователя:</label>
            <input th:value="${user.userType}" type="email" class="form-control-plaintext" id="exampleInputType"
                       placeholder="name@example.com" readonly>
        </div>

        <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">Email адрес:</label>
                <input th:value="${user.email}" type="email" class="form-control-plaintext" id="exampleInputEmail1"
                       placeholder="name@example.com" readonly>
        </div>

<!--        <div class="col-md-6">-->
<!--            <div class="form-floating">-->
<!--                <select class="form-select col-md-6" aria-label="Default select example"-->
<!--                        disabled>-->
<!--                    <option selected disabled value="">Выберите...</option>-->
<!--                    <option value="1">Мехмат</option>-->
<!--                    <option value="2">Книт</option>-->
<!--                    <option value="3">Иняз</option>-->
<!--                </select>-->
<!--                <label for="exampleInputEmail1" class="form-label">Факультет</label>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-md-6">-->
<!--            <div class="form-floating mb-3">-->
<!--                <input type="number" class="form-control" id="groupNumberInput"-->
<!--                       placeholder="Group number" min="100" max="600" required>-->
<!--                <label for="groupNumberInput" class="form-label">Номер группы</label>-->
<!--            </div>-->
<!--        </div>-->


<!--        <button type="submit" class="shadow btn btn-primary">Изменить профиль</button>-->
    </form>
</div>

</body>
</html>
