<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Просмотр задания</title>
</head>
<body>

<div layout:fragment="content" class="container my-4">
    <h1 class="h3 text-center my-4">Просмотр задания</h1>

    <form class="row g-3 needs-validation" novalidate>
        <div class="fs-5 text-center">Для кого задание:</div>

        <div class="col-md-6">
            <label for="disciplinesBlock" class="form-label">Факультет:</label>
            <select class="form-select col-md-6" aria-label="Default select example" id="disciplinesBlock"
                    disabled>
                    <option th:text="${task.groups.get(0).faculty.name}" selected disabled value="">Выберите...</option>
                    <option value="1">Мехмат</option>
                    <option value="2">Книт</option>
                    <option value="3">Иняз</option>
            </select>
        </div>

        <div class="col-md-6">
                <label for="groupNumberInput" class="form-label">Номер группы:</label>
                <input th:value="${task.groups.get(0).number}" type="number" class="form-control" id="groupNumberInput" aria-describedby="groupNumberHelp"
                       value="111" min="100" max="600" readonly>
        </div>

        <div class="fs-5 text-center py-2">Детали задания:</div>

        <div class="col-md-12">
            <label for="disciplineSelectInput" class="form-label">Дисциплина:</label>
            <select class="form-select col-md-6" id="disciplineSelectInput" aria-label="Default select example"
                    disabled>
                    <option th:text="${task.discipline.name}" selected disabled value="">Выберите дисциплину...</option>
                    <option value="1">Математический анализ</option>
                    <option value="2">Культура речи</option>
                    <option value="3">Физическая культура</option>
                </select>
        </div>

        <div class="col-md-12">
                <label for="floatingTextarea2" class="form-label">Текст задания:</label>
                <textarea th:text="${task.description}" class="form-control" placeholder="Здесь должен быть текст задания..." id="floatingTextarea2"
                          style="height: 150px" maxlength="1000" readonly></textarea>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label" for="inputDate">Крайний срок сдачи:</label>
                <input th:value="${task.deadlineDateTime}" type="datetime-local" id="inputDate" class="form-control"
                       readonly>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label" for="inputDate2">Создано:</label>
                <input th:value="${#temporals.format(task.createDateTime, 'yyyy-MM-dd''T''HH:mm')}" type="datetime-local" id="inputDate2" class="form-control"
                       readonly>
            </div>
        </div>

        <div class="col-md-6">
                <label for="teacherInput" class="form-label">Задал:</label>
                <input th:value="${task.teacher.lastName + ' ' + task.teacher.firstName + ' ' + task.teacher.middleName}" type="text" class="form-control" id="teacherInput"
                       value="Фамилия Имя Отчество" readonly>
        </div>

        <!--        <div class="col-md-12">-->
        <!--            <label for="exampleInputEmail1" class="form-label">Преподаваемые дисциплины</label>-->
        <!--            <select multiple size="5" class="form-select col-md-6" aria-label="Default select example"-->
        <!--                    aria-describedby="disciplinesHelpBlock" required>-->
        <!--                <option value="1">Математика</option>-->
        <!--                <option value="2">Русский</option>-->
        <!--                <option value="3">Английский</option>-->
        <!--            </select>-->
        <!--            <div class="invalid-feedback">-->
        <!--                Вы должны выбрать как минимум одну дисциплину.-->
        <!--            </div>-->
        <!--            <div id="disciplinesHelpBlock" class="form-text">-->
        <!--                Удерживайте клавишу Ctrl чтобы выбрать несколько дисциплин.-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="col-md-12">
<!--            <button type="submit" class="shadow btn btn-primary">Отправить решение</button>-->
            <a th:href="@{/tasks}" class="shadow btn btn-primary">К списку заданий</a>
        </div>

    </form>

    <script>
        var today = new Date().toISOString().substring(0,16);
        document.getElementById("inputDate").min = today;
    </script>
</div>

</body>
</html>