<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Решения</title>
</head>
<body>

<div layout:fragment="content" class="container my-2">
    <h2 class="text-center">Решения</h2>

        <a class="btn btn-primary btn-sm mb-3">Добавить</a>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
        <tr>
            <th scope="col">Задание</th>
            <th scope="col">Студент</th>
            <th scope="col">Факультет</th>
            <th scope="col">Группа</th>
            <th scope="col">Дата обновления</th>
            <th scope="col">Оценка</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">73</th>
            <td>Иванов Иван Иванович</td>
            <td>Биологический</td>
            <td>322</td>
            <td>28.01.2022</td>
            <td></td>
            <td>Отправлено</td>
            <td>
                <a class="btn btn-primary btn-sm">Открыть</a>
                <!--                <a class="btn btn-primary">Изменить</a>-->
                <!--                <a class="btn btn-danger">Удалить</a>-->
            </td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Богданов Сергей Викторович</td>
            <td>Физический</td>
            <td>222</td>
            <td>24.01.2022</td>
            <td>Отлично</td>
            <td>Оценено</td>
            <td>
                <a class="btn btn-primary btn-sm">Открыть</a>
                <!--                <a class="btn btn-primary">Изменить</a>-->
                <!--                <a class="btn btn-danger">Удалить</a>-->
            </td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td>Кириллов Кирилл Витальевич</td>
            <td>Математический</td>
            <td>141</td>
            <td>29.01.2022</td>
            <td>Зачет</td>
            <td>Оценено</td>
            <td>
                <a class="btn btn-primary btn-sm">Открыть</a>
                <!--                <a class="btn btn-primary">Изменить</a>-->
                <!--                <a class="btn btn-danger">Удалить</a>-->
            </td>
        </tr>
        </tbody>
    </table>




</div>

</body>
</html>