<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Решения</title>
</head>
<body>

<div layout:fragment="content" class="container my-2">
    <h2 class="text-center">Решения</h2>

    <!-- Сообщение об успешной отправке решения -->
    <div th:if="${param.success}">
        <div class="alert alert-info text-center">Решение было успешно отправлено.</div>
    </div>

    <!-- Сообщение об успешном оценивании -->
    <div th:if="${param.estimated}">
        <div class="alert alert-info text-center">Решение было успешно оценено.</div>
    </div>

    <!-- Сообщение об ошибке -->
    <div th:if="${param.error}">
        <div class="alert alert-danger text-center">Произошла ошибка.</div>
    </div>

    <!-- Сообщение об успешном удалении -->
    <div th:if="${param.deleted}">
        <div class="alert alert-warning text-center">Решение было успешно удалено.</div>
    </div>

    <!-- Сообщение об успешном изменении -->
    <div th:if="${param.updated}">
        <div class="alert alert-info text-center">Решение было успешно изменено.</div>
    </div>

    <a sec:authorize="hasAuthority('student:perms')" th:href="@{/solutions/new}" class="btn btn-primary shadow mb-3">Отправить решение</a>
    <br sec:authorize="hasAuthority('teacher:perms')">

    <table class="table table-striped table-hover table-bordered table-responsive align-middle">
        <thead>
        <tr>
            <th scope="col">Задание</th>
            <th scope="col">Студент</th>
            <th scope="col">Факультет</th>
            <th scope="col">Группа</th>
            <th scope="col">Дата обновления</th>
            <th scope="col">Оценка</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="solution : ${solutions}">
            <th scope="row"><a th:href="@{/tasks/{id}(id=${solution.task.id})}" th:text="${solution.task.id}"></a></th>
            <td th:text="${solution.student.lastName + ' ' + solution.student.firstName + ' ' + solution.student.middleName}"></td>
            <td th:text="${solution.student.group.faculty.name}"></td>
            <td th:text="${solution.student.group.number}"></td>
            <td th:text="${#temporals.format(solution.updateDateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:switch="${solution.grade}">
                <span th:case="${T(com.netcracker.hwapp.enums.Grade).NONE}"      th:text="${solution.grade.displayValue}" class="badge rounded-pill bg-secondary"></span>
                <span th:case="${T(com.netcracker.hwapp.enums.Grade).GOOD}"      th:text="${solution.grade.displayValue}" class="badge rounded-pill bg-info text-dark"></span>
                <span th:case="${T(com.netcracker.hwapp.enums.Grade).FAIR}"      th:text="${solution.grade.displayValue}" class="badge rounded-pill bg-warning text-dark"></span>
                <span th:case="${T(com.netcracker.hwapp.enums.Grade).POOR}"      th:text="${solution.grade.displayValue}" class="badge rounded-pill bg-danger"></span>
                <span th:case="${T(com.netcracker.hwapp.enums.Grade).EXCELLENT}" th:text="${solution.grade.displayValue}" class="badge rounded-pill bg-success"></span>
            </td>
            <td th:text="${solution.status.displayValue}"></td>
            <td>
                <a sec:authorize="hasAuthority('teacher:perms')" th:href="@{/solutions/estimate/{id}(id=${solution.id})}" class="btn btn-primary btn-sm">Оценить</a>
                <a sec:authorize="hasAuthority('student:perms')" th:href="@{/solutions/{id}(id=${solution.id})}" class="btn btn-primary btn-sm">Просмотр</a>
                <a sec:authorize="hasAuthority('student:perms')" th:if="${solution.grade.equals(T(com.netcracker.hwapp.enums.Grade).NONE)}" th:href="@{/solutions/edit/{id}(id=${solution.id})}" class="btn btn-secondary btn-sm">Изменить</a>
                <a sec:authorize="hasAuthority('student:perms')" th:if="${solution.grade.equals(T(com.netcracker.hwapp.enums.Grade).NONE)}" th:href="@{/solutions/delete/{id}(id=${solution.id})}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>




</div>

</body>
</html>