<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Задания</title>
</head>
<body>

<div layout:fragment="content" class="container my-2">
    <h2 class="text-center">Задания</h2>

    <!-- Сообщение об успешном добавлении задания -->
    <div th:if="${param.success}">
        <div class="alert alert-info text-center">Задание было успешно добавлено.</div>
    </div>

    <!-- Сообщение об ошибке -->
    <div th:if="${param.error}">
        <div class="alert alert-danger text-center">Произошла ошибка.</div>
    </div>

    <!-- Сообщение об успешном удалении -->
    <div th:if="${param.deleted}">
        <div class="alert alert-warning text-center">Задание было успешно удалено.</div>
    </div>

    <!-- Сообщение об успешном изменении -->
    <div th:if="${param.updated}">
        <div class="alert alert-info text-center">Задание было успешно изменено.</div>
    </div>

<!--    <a class="btn btn-primary btn-sm mb-3">Добавить</a>-->
    <a sec:authorize="hasAuthority('teacher:perms')" th:href="@{/tasks/new}" class="btn btn-primary btn shadow mb-3">Добавить задание</a>
    <table class="table table-striped table-hover table-bordered table-responsive align-middle">
        <thead>
        <tr>
            <th scope="col">Дата сдачи</th>
            <th scope="col">Дисциплина</th>
            <th scope="col">Задал</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="task : ${tasks}">
            <td th:text="${#temporals.format(task.deadlineDateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${task.discipline.name}"></td>
            <td th:text="${task.teacher.lastName + ' ' + task.teacher.firstName + ' ' + task.teacher.middleName}"></td>
            <td th:text="${#temporals.format(task.createDateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <a th:href="@{/tasks/{id}(id=${task.id})}" class="btn btn-primary btn-sm">Просмотр</a>
                <a sec:authorize="hasAuthority('teacher:perms')" th:href="@{/tasks/edit/{id}(id=${task.id})}" class="btn btn-secondary btn-sm">Изменить</a>
                <a sec:authorize="hasAuthority('teacher:perms')" th:href="@{/tasks/delete/{id}(id=${task.id})}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>



<!--        <tr>-->
<!--            <th scope="row">27.01.2022</th>-->
<!--            <td>Математический анализ</td>-->
<!--            <td>28.01.2022</td>-->
<!--            <td>-->
<!--                <a th:href="@{/showTaskForm}" class="btn btn-primary btn-sm">Открыть</a>-->
<!--                &lt;!&ndash;                <a class="btn btn-primary">Изменить</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                <a class="btn btn-danger">Удалить</a>&ndash;&gt;-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th scope="row">28.01.2022</th>-->
<!--            <td>Культура речи</td>-->
<!--            <td>29.01.2022</td>-->
<!--            <td>-->
<!--                <a th:href="@{/showTaskForm}" class="btn btn-primary btn-sm">Открыть</a>-->
<!--                &lt;!&ndash;                <a class="btn btn-primary">Изменить</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                <a class="btn btn-danger">Удалить</a>&ndash;&gt;-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th scope="row">25.01.2022</th>-->
<!--            <td>Информационные технологии</td>-->
<!--            <td>30.01.2022</td>-->
<!--            <td>-->
<!--                <a th:href="@{/showTaskForm}" class="btn btn-primary btn-sm">Открыть</a>-->
<!--                <a class="btn btn-secondary btn-sm">Изменить</a>-->
<!--                <a class="btn btn-danger btn-sm">Удалить</a>-->
<!--            </td>-->
<!--        </tr>-->
        </tbody>
    </table>




</div>

</body>
</html>