<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Users List</title>
</head>
<body>

<div layout:fragment="content" class="container my-2">
    <h2 class="text-center">Пользователи</h2>

    <a th:href="@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3">Добавить</a>
    <table class="table table-bordered table-responsive-md">

        <tr>
            <th style="width: 20%">
                <a class="text-decoration-none" th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    Фамилия
                </a>
            </th>
            <th style="width: 20%">
                <a class="text-decoration-none" th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    Имя
                </a>
            </th>
            <th style="width: 20%">
                <a class="text-decoration-none" th:href="@{'/page/' + ${currentPage} + '?sortField=middleName&sortDir=' + ${reverseSortDir}}">
                    Отчество
                </a>
            </th>
            <th style="width: 15%">
                <a class="text-decoration-none" th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    User Email
                </a>
            </th>
            <th style="width: 25%">Действия</th>
        </tr>

        <tr th:each="user : ${listUsers}">
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.middleName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/users(id=${user.id})}" class="btn btn-success">Профиль</a>
                <a th:href="@{/showUpdateUserForm/{id}(id=${user.id})}" class="btn btn-primary">Изменить</a>
                <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Всего записей: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>