<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<div layout:fragment="content" class="container my-4">
    <h3 class="text-center my-4">Регистрация пользователя</h3>
    <br>

    <form th:action="@{/registration}" method="post" th:object="${user}" class="row g-3 needs-validation" novalidate
          oninput='up2.setCustomValidity(up2.value != up.value ? "Пароли не совпадают." : "")'>
        <div class="col-md-12">
            <div class="form-floating mb-3">
                <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="name@example.com" required>
                <label for="exampleInputEmail1" class="form-label">E-mail адрес</label>
                <div class="invalid-feedback">
                    Введите e-mail адрес в формате name@mail.com!
                </div>
                <div id="emailHelp" class="form-text">Указанный e-mail будет виден другим пользователям.</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp"
                       placeholder="Password" required minlength="8" maxlength="50" name=up>
                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                <div class="invalid-feedback">
                    Укажите корректный пароль!
                </div>
                <div id="passwordHelp" class="form-text">Длина пароля минимум 8 символов.</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <input type="password" class="form-control" id="inputPassword4"
                       placeholder="Password" required minlength="8" maxlength="50" name=up2>
                <label for="inputPassword4" class="form-label">Повтор пароля</label>
                <div class="invalid-feedback">
                    Пароли должны совпадать!
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input th:field="*{lastName}" type="text" class="form-control" id="lastNameInput" placeholder="Last Name"
                       minlength="1" maxlength="30" pattern="^[a-zA-Zа-яА-ЯёЁ]+$" required>
                <label for="lastNameInput" class="form-label">Фамилия</label>
                <div class="invalid-feedback">
                    Это обязательное поле.
                </div>
                <div class="invalid-feedback">
                    Цифры не допускаются.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input th:field="*{firstName}" type="text" class="form-control" id="firstNameInput" placeholder="First Name"
                       minlength="1" maxlength="30" pattern="^[a-zA-Zа-яА-ЯёЁ]+$" required>
                <label for="firstNameInput" class="form-label">Имя</label>
                <div class="invalid-feedback">
                    Это обязательное поле.
                </div>
                <div class="invalid-feedback">
                    Цифры не допускаются.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input th:field="*{middleName}" type="text" class="form-control" id="middleNameInput" placeholder="Middle Name"
                       minlength="1" maxlength="30" pattern="^[a-zA-Zа-яА-ЯёЁ]+$" required>
                <label for="middleNameInput" class="form-label">Отчество</label>
                <div class="invalid-feedback">
                    Это обязательное поле.
                </div>
                <div class="invalid-feedback">
                    Цифры не допускаются.
                </div>
            </div>
        </div>

<!--        <div class="col-md-6">-->
<!--            <div class="form-floating">-->
<!--                <select class="form-select col-md-6" aria-label="Default select example"-->
<!--                        aria-describedby="disciplinesHelpBlock" required>-->
<!--                    <option selected disabled value="">Выберите...</option>-->
<!--                    <option value="1">Мехмат</option>-->
<!--                    <option value="2">Книт</option>-->
<!--                    <option value="3">Иняз</option>-->
<!--                </select>-->
<!--                <label for="exampleInputEmail1" class="form-label">Факультет</label>-->
<!--                <div class="invalid-feedback">-->
<!--                    Это обязательное поле.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-md-6">-->
<!--            <div class="form-floating mb-3">-->
<!--                <input type="number" class="form-control" id="groupNumberInput" aria-describedby="groupNumberHelp"-->
<!--                       placeholder="Group number" min="100" max="600" required>-->
<!--                <label for="groupNumberInput" class="form-label">Номер группы</label>-->
<!--                <div class="invalid-feedback">-->
<!--                    Это обязательное поле.-->
<!--                </div>-->
<!--                <div id="groupNumberHelp" class="form-text">Укажите номер группы. <i>Например: 121</i></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-md-12">-->
<!--            <label for="exampleInputEmail1" class="form-label">Преподаваемые дисциплины</label>-->
<!--            <select multiple size="5" class="form-select col-md-6" aria-label="Default select example"-->
<!--                    aria-describedby="disciplinesHelpBlock" required>-->
<!--                <option value="1">Математика</option>-->
<!--                <option value="2">Русский</option>-->
<!--                <option value="3">Английский</option>-->
<!--            </select>-->
<!--            <div class="invalid-feedback">-->
<!--                Вы должны выбрать как минимум одну дисциплину.-->
<!--            </div>-->
<!--            <div id="disciplinesHelpBlock" class="form-text">-->
<!--                Удерживайте клавишу Ctrl чтобы выбрать несколько дисциплин.-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-md-4">-->
<!--            <div class="mb-3 form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>-->
<!--                <label class="form-check-label" for="exampleCheck1">Я согласен с <a th:href="@{'/rules'}" target="_blank">правилами</a> сервиса</label>-->
<!--                <div class="invalid-feedback">-->
<!--                    Вы должны согласиться с правилами сервиса.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <button type="submit" class="shadow btn btn-primary">Зарегистрироваться</button>
    </form>
</div>

</body>
</html>