<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<div layout:fragment="content" class="container my-2">
    <h2 class="text-center">Профиль</h2>
    <table style="width: 50%" class="table table-hover table-responsive">
        <tbody>
        <tr>
            <th scope="row">Фамилия</th>
            <td th:text="${user.lastName}">Иванов</td>
        </tr>
        <tr>
            <th scope="row">Имя</th>
            <td th:text="${user.firstName}">Иван</td>
        </tr>
        <tr>
            <th scope="row">Отчество</th>
            <td th:text="${user.middleName}" colspan="2">Иванович</td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td th:text="${user.email}" colspan="2">ivanov@email.com</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>