<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Просмотр решения</title>
</head>
<body>

<div layout:fragment="content" class="container my-4">
    <h1 class="h3 text-center my-4">Просмотр решения</h1>

    <form th:action="@{/solutions/estimate}" method="post" th:object="${solution}" class="row g-3" novalidate>
        <div class="fs-5 text-center">Задание:</div>

        <input type="hidden" th:field="*{id}" id="solutionId">

        <div class="col-md-12">
            <label for="disciplinesBlock" class="form-label">Задание</label>
            <select class="form-select col-md-6" aria-label="Default select example" id="disciplinesBlock2"
                    disabled>
                <option th:text="Номер + ' ' + ${solution.task.getId()} + '. Дисциплина: ' + ${solution.task.discipline.name}">Выберите...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="studentInput" class="form-label">Прислал:</label>
            <input th:value="${solution.student.lastName + ' ' + solution.student.firstName + ' ' + solution.student.middleName}" type="text" class="form-control" id="studentInput"
                   value="Фамилия Имя Отчество" readonly>
        </div>

        <div class="col-md-4">
            <label for="disciplinesBlock" class="form-label">Факультет</label>
            <select class="form-select col-md-6" aria-label="Default select example" id="disciplinesBlock"
                    disabled>
                <option th:text="${solution.student.group.faculty.name}" selected disabled value="">Выберите...</option>
                <option value="1">Мехмат</option>
                <option value="2">Книт</option>
                <option value="3">Иняз</option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="groupInput" class="form-label">Группа:</label>
            <input th:value="${solution.student.group.number}" type="number" class="form-control" id="groupInput"
                   value="111" readonly>
        </div>

        <div class="fs-5 text-center">Решение:</div>

        <div class="col-md-6">
            <label for="formFile" class="form-label">Файл с решением:</label>
            <input th:value="${solution.file.name}" class="form-control" type="text" id="formFile" readonly>
        </div>

        <div class="col-md-6">
            <label for="formFile" class="form-label">Загруженный файл:</label>
            <a class="form-control btn btn-primary" download
               th:href="@{/solutions/{id}/files/{fileName}(id=${solution.id}, fileName=${solution.file.name})}">
                Скачать файл
            </a>
        </div>

        <div class="col-md-12">
            <div class="form-floating">
                <textarea th:text="${solution.comment}" class="form-control" placeholder="Комментарий к решению..." id="floatingTextarea2"
                          style="height: 100px" readonly></textarea>
                <label for="floatingTextarea2">Комментарий</label>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label" for="inputDate2">Создано:</label>
                <input th:value="${#temporals.format(solution.createDateTime, 'yyyy-MM-dd''T''HH:mm')}" type="datetime-local" id="inputDate2" class="form-control"
                       readonly>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label" for="inputDate3">Изменено:</label>
                <input th:value="${#temporals.format(solution.updateDateTime, 'yyyy-MM-dd''T''HH:mm')}" type="datetime-local" id="inputDate3" class="form-control"
                       readonly>
            </div>
        </div>

        <div class="fs-5 text-center">Оценивание:</div>

        <div class="col-md-12">
            <div class="form-floating">
                <select th:field="*{grade}" class="form-select col-md-6" aria-label="Default select example" id="gradeBlock">
                    <option selected disabled value="">Выберите...</option>
                    <option th:each="gradee : ${T(com.netcracker.hwapp.enums.Grade).values()}"
                            th:value="${gradee}" th:text="${gradee.displayValue}"></option>
                </select>
                <label for="disciplinesBlock" class="form-label">Оценка</label>
            </div>
        </div>



        <!--        <div class="col-md-12">-->
        <!--            <label for="exampleInputEmail1" class="form-label">Преподаваемые дисциплины</label>-->
        <!--            <select multiple size="5" class="form-select col-md-6" aria-label="Default select example"-->
        <!--                    aria-describedby="disciplinesHelpBlock" required>-->
        <!--                <option value="1">Математика</option>-->
        <!--                <option value="2">Русский</option>-->
        <!--                <option value="3">Английский</option>-->
        <!--            </select>-->
        <!--            <div class="invalid-feedback">-->
        <!--                Вы должны выбрать как минимум одну дисциплину.-->
        <!--            </div>-->
        <!--            <div id="disciplinesHelpBlock" class="form-text">-->
        <!--                Удерживайте клавишу Ctrl чтобы выбрать несколько дисциплин.-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="col-md-12">
            <a th:href="@{/solutions}" class="shadow btn btn-outline-primary">К списку решений</a>
            <button type="submit" class="shadow btn btn-danger">Поставить оценку</button>
        </div>

    </form>

    <script>
        var today = new Date().toISOString().substring(0,16);
        document.getElementById("inputDate").min = today;
    </script>
</div>

</body>
</html>