<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Отправка решения</title>
</head>
<body>

<div layout:fragment="content" class="container my-4">
    <h1 class="h3 text-center my-4">Отправка решения</h1>

    <form th:action="@{/solutions/new}" method="post" th:object="${new_solution}" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        <div class="fs-5 text-center">Выберите задание:</div>

        <div class="col-md-12">
            <div class="form-floating">
                <select th:field="*{task}" class="form-select col-md-6" aria-label="Default select example" id="disciplinesBlock"
                        aria-describedby="disciplinesHelpBlock" required>
                    <option selected value="">Выберите задание...</option>
                    <option th:if="${!tasks.isEmpty()}" th:each="task : ${tasks}"
                            th:value="${task.getId()}"
                            th:text="Номер + ' ' + ${task.getId()} + '. Дисциплина: ' + ${task.discipline.name}"></option>
                </select>
                <label for="disciplinesBlock" class="form-label">Задание</label>
                <div class="invalid-feedback">
                    Это обязательное поле.
                </div>
            </div>
        </div>

        <div class="fs-5 text-center">Решение:</div>

        <div class="col-md-12">
            <label for="formFile" class="form-label">Файл с решением:</label>
            <input  class="form-control" name="myFile" type="file" id="formFile" aria-describedby="fileUploadHelp" required>
            <div class="invalid-feedback">
                Это обязательное поле.
            </div>
            <div id="fileUploadHelp" class="form-text">
                Прикрепите файл с решением задания. Максимальный размер 20МБ.
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-floating">
                <textarea th:field="*{comment}" class="form-control" placeholder="Комментарий к решению..." id="floatingTextarea2"
                          aria-describedby="floatingTextareaHelp" style="height: 100px" maxlength="1000"></textarea>
                <label for="floatingTextarea2">Комментарий</label>
                <div id="floatingTextareaHelp" class="form-text">
                    Укажите комментарий преподавателю при необходимости.
                </div>
            </div>
        </div>

        <button type="submit" class="shadow btn btn-primary">Отправить решение</button>
    </form>

    <script>
        var today = new Date().toISOString().substring(0,16);
        document.getElementById("inputDate").min = today;
    </script>
</div>

</body>
</html>